<section id="login" class="col-lg-6 col-lg-offset-3">
  <div class="page-header text-center">
    <div id="status-buttons" class="text-center">
      <a ui-sref-active="active" ui-sref="application.auth.login"><span>1</span></a>
      <a ui-sref-active="active" ui-sref="application.auth.signup"><span>2</span></a>
      <a ui-sref-active="active" ui-sref="application.auth.forgotpassword"><span>3</span></a>
    </div>
  </div>
  <div id="signup-form">
    <ui-view id="form-views"></ui-view>
  </div>
</section>